{% extends 'base.html' %}



 
{% block title %} Home {% endblock %}
 
{% block body %}
 


<style>
    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 9px 20px;
      font-size: 14px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
    </style>
<div id="friends" class="dropdown">
    <button class="dropbtn" style="margin:5px;">Friends</button>
    <div class="dropdown-content">
    <a href="#">Find friend</a>
    <a href="#">Friend's activity</a>
    <a href="#">Block User</a>
    </div>
  </div>

  <!-- <button type="button"  class="btn btn-success float-left" style="margin:5px;" data-toggle="modal" data-target="#friends">Friends</button> -->




<a href = "/readactivity" ><button type="button"  class="btn btn-success float" style="margin:5px;">Activity log</button></a>

<button type="button"  class="btn btn-success float" style="margin:5px;" data-toggle="modal"   data-target="#mymodalupdate">Update Profile</button>

<div class="container">
    <div class="row">
        <div class="col md-12">
 
            <div class="jumbotron p-3">
 
                <h3>News
                
                

                <button type="button"  class="btn btn-success float-right" data-toggle="modal" style="margin:5px;"data-target="#mymodal">Category</button>
                <button type="button"  class="btn btn-success float-right" data-toggle="modal" style="margin:5px;"data-target="#mymodal1">Custom</button>
                <button type="button"  class="btn btn-success float-right" data-toggle="modal" style="margin:5px;"data-target="#mymodal2">Location</button>
                <a href = "/news/" ><button type="button"  class="btn btn-success float-right" style="margin:5px;"data-toggle="modal">Trending</button></a>

                </h3>
                
 
               
                <table class="table table-hover table-dark">
 
                    <tr>
 
                        <th><h4>Bookmark</h4></th>
                        <th><h4>Link</h4></th>

                    </tr>
 
 
                   {% for later in readlaterlist %}
                    <tr>
                        <td><h5>{{later}}</h5></td>
                        <td><a href="{}" class="btn btn-primary">></a></td>
                        <!-- <td><img src="{{img}}" ></td>  -->
                        <!-- <td><button type="button" style="background-color:rgba(255, 217, 0, 0.548);" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal3">Rate</button></td>
                        <td><button type="button" style="background-color:rgba(255, 0, 85, 0.493);" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal4">Later</button></td> -->

                    </tr>
 
 
                   {% endfor %}
 
 
                </table>
  
                
<div id="mymodalupdate" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">Update {{email}}</h4>
        </div>
        <div class="modal-body">
<!-- form action here -->
            <form action="/update" method="POST"> 


            <div class="form-group">

                <label>username</label>
                <input type="text" class="form-control" name="username" required="1" disabled = True placeholder="{{email}}">

            </div>

            <div class="form-group">

                <label>Password</label>
                <input type="text" class="form-control" name="password" required="1">

            </div>

            <div class="form-group">


                <button class="btn btn-primary" type="submit">Update</button>


            </div>


            </form>


        </div>


        <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


        </div>


    </div>


</div>


</div>




<div id="activity" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
    
            <h4 class="modal-title">Activity</h4>
        </div>
        <div class="modal-body">
    <!-- form action here -->
         <li class="nav-item">
            <form action="/after_request" METHOD="GET">

            </form>

         </li>   
    
    
        </div>
    
    
        <div class="modal-footer">
    
    
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
    
        </div>
    
    </div>
    </div>
    
    
</div>
    






                
<div id="mymodal1" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">Custom Search</h4>
        </div>
        <div class="modal-body">
<!-- form action here -->
            <form action="/news/" method="POST"> 


            <div class="form-group">

                <label>Keyword</label>
                <input type="text" class="form-control" name="keyword" required="1">

            </div>

            <div class="form-group">


                <button class="btn btn-primary" type="submit">Search</button>


            </div>


            </form>


        </div>


        <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


        </div>


    </div>


</div>


</div>                 

<div id="mymodal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
    
                <h4 class="modal-title">Location</h4>
            </div>
            <div class="modal-body">
    <!-- form action here -->
                <form action="/news/" method="POST"> 
    
    
                <div class="form-group">
    
                    <label>Location</label>
                    <input type="text" class="form-control" name="location" required="1">
    
                </div>
    
                <div class="form-group">
    
    
                    <button class="btn btn-primary" type="submit">Search</button>
    
    
                </div>
    
    
                </form>
    
    
            </div>
    
    
            <div class="modal-footer">
    
    
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
    
            </div>

        </div>
    </div>  
</div>
 
<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
 
            <h4 class="modal-title">By category</h4>
         </div>
         <div class="modal-body">
 <!-- form action here -->
            <form action="/news/" method="POST"> 
 
 
               <div class="form-group">
 
                  <label>Category</label>
                  <!-- <input type="text" class="form-control" name="name" required="1"> -->
                  <select class="form-control" name="category" required ="1">
                    <option value="WORLD">WORLD</option>
                    <option value="SPORTS">SPORTS</option>
                    <option value="NATION">NATION</option>
                    <option value="BUSINESS">BUSINESS</option>
                    <option value="TECHNOLOGY">TECHNOLOGY</option>
                    <option value="SCIENCE">SCIENCE</option>
                    <option value="HEALTH">HEALTH</option>
                    <option value="ENTERTAINMENT">ENTERTAINMENT</option>
                  </select>
 
               </div>
 
               <div class="form-group">
 
 
                  <button class="btn btn-primary" type="submit">update preferences</button>
 
 
               </div>
 
 
            </form>
 
 
         </div>
 
 
         <div class="modal-footer">
 
 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
         </div>
 
 
      </div>
 
 
   </div>
 
 
</div>

<div id="mymodal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
  
             <h4 class="modal-title">Rate News</h4>
          </div>
          <div class="modal-body">
  <!-- form action here -->
             <!-- <form action="/news/" method="POST">  -->
  
  
                <div class="form-group">
  
                   <label>Rating Scale</label>
                   <!-- <input type="text" class="form-control" name="name" required="1"> -->
                   <!-- <select class="form-control" name="category" required ="1"> -->
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                      </div>
                     
                   <!-- </select> -->
  
                </div>
  
                <div class="form-group">
  
  
                   <button class="btn btn-primary" type="submit">Post</button>
  
  
                </div>
  
  
             <!-- </form> -->
  
  
          </div>
  
  
          <div class="modal-footer">
  
  
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
  
          </div>
  
  
       </div>
  
  
    </div>
  
  
 </div>
 
 
 
 
 
        </div>
        
 
    </div>
 
 
</div>



{% endblock %}